---
import Logo from "../assets/logo.svg";

type NavItem = {
  title: string;
  link: string;
};

const { settings } = Astro.props;
---

<footer
  class="@container bs-container flex flex-col shadow-2xl my-6 rounded-4xl font-semibold"
  id="contact"
>
  <!-- Wrapper -->
  <div class="p-4 md:px-20 rounded-xl grid md:grid-cols-2 gap-4">
    <!-- Left col -->
    <div
      class="w-max flex flex-col gap-8 md:gap-0 justify-between text-bs-foreground-light"
    >
      <!-- Logo -->
      <a class="flex group" href="#top" aria-label="Back to top">
        <Logo height="60" width="60" />
      </a>
    </div>

    <!-- Right col -->
    <div
      class="flex gap-10 md:gap-2 lg:gap-20 md:justify-end [&_a]:block md:[&_a]:px-5 [&_a]:py-2"
    >
      <!-- Nav -->
      <nav class="flex flex-col">
        {
          settings.nav
            .sort((a: { title: string }, b: { title: any }) =>
              a.title.localeCompare(b.title)
            )
            .map((item: NavItem) => (
              <a
                href={item.link}
                class="hover:text-[#80cb28]"
                aria-label={item.title + " - Footer"}
              >
                {item.title}
              </a>
            ))
        }
      </nav>

      <!-- Social links -->
      <nav class="flex flex-col">
        {
          settings.social_media
            .sort((a: { title: string }, b: { title: any }) =>
              a.title.localeCompare(b.title)
            )
            .map(
              (item: {
                link: string | URL | null | undefined;
                title: unknown;
              }) => (
                <a href={item.link} class="hover:text-[#80cb28]">
                  {item.title}
                </a>
              )
            )
        }
      </nav>
    </div>
  </div>

  <!-- Colophon -->
  <aside class="bs-container">
    <nav class="flex gap-4 justify-center my-6 pt-2 md:pt-1 text-xs">
      <!-- Copyright/Date -->
      <a href="https://blackspike.com/" class="hover:hover:text-[#80cb28]"
        >by blackspike.com</a
      >

      <!-- Credits -->
      <p>Bright Kids ®</p>
    </nav>
  </aside>
</footer>
