---
import Logo from '../assets/logo.svg';

const { content, cite } = Astro.props;
---

<!-- Quote -->
<blockquote
  class="bs-container quote-section p-3 !my-10 font-display text-2xl md:text-3xl lg:text-4xl flex flex-col gap-6"
  id="quote"
>
  <!-- Text -->
  <div
    set:html={content}
    class="text-bs-surface-0 bs-st-quote [&_strong]:font-normal font-display"
  />

  <!-- Cite -->
  <cite class="not-italic flex gap-2 items-center">
    <Logo
      class="group-hover:-rotate-180 group-hover:scale-80 transition-transform ease-bs-spring duration-1000"
      height="60"
      width="60"
    />

    <div class="text-bs-surface-3 bs-h3">
      {cite}
    </div>
  </cite>
</blockquote>

<style is:global>
  /* Lighten text when scrolling into view */

  @keyframes green-text {
    to {
      color: #80cb28;
    }
  }

  @supports (animation-timeline: view()) {
    .bs-st-quote strong {
      animation: green-text 1s ease-in-out;
      animation-timeline: view(10% block);
      animation-fill-mode: forwards;
    }
  }

  @supports (not (animation-timeline: view())) {
    .bs-st-quote strong {
      color: var(--color-bs-foreground-light);
    }
  }
</style>
