---
import VideoAccordion from './VideoAccordion.astro';

type VideoItem = {
  title: string;
  description: string;
  id: string;
};

const { title, videos } = Astro.props;
---

<section class="bs-container my-5 grid" id="video">
  <!-- Title -->
  {title && <h2 class="bs-h2 text-center md:text-left" set:html={title} />}

  <!-- FAQ -->
  <div id="videos" class="grid gap-2 bs-mt-sm">
    <!-- Item -->
    {
      videos.map((item: VideoItem) => (
        <VideoAccordion
          title={item.title}
          description={item.description}
          id={item.id}
        />
      ))
    }
  </div>
</section>
