---
import Arrow from '../assets/arrow.svg';

const { title, description, id } = Astro.props;
---

<details
  name="video"
  class="group hover:bg-bs-foreground-dark/15 open:bg-bs-foreground-dark/15 transition-colors w-full shadow-md rounded-lg bs-h3 my-1"
>
  <!-- Summary -->
  <summary class="flex gap-3 justify-between items-center p-6 py-5">
    <!-- Title -->
    <span class="select-none" set:html={title} />

    <!-- Icon -->
    <span>
      <Arrow
        class="opacity-60 h-4 w-4 transition -rotate-90 group-open:rotate-90 ease-bs-bounce duration-1000"
        height="16"
        width="25"
      />
    </span>
  </summary>

  <!-- Content -->
  <div class="anim-wrapper max-w-none p-4">
    <div set:html={description} class="p-6" />
    <div class="flex justify-center items-center">
      <lite-youtube
        videoid={id}
        style="width: 60%; max-width: 720px;"
        title={title}></lite-youtube>
    </div>
  </div>
</details>

<style>
  summary::-webkit-details-marker {
    display: none;
  }

  details {
    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    &::details-content {
      block-size: 0;
      opacity: 0;
      overflow-y: clip;
      transition:
        content-visibility 1s allow-discrete,
        opacity 1s,
        block-size 1s var(--ease-bs-bounce);
    }

    &[open]::details-content {
      block-size: auto;
      opacity: 1;
    }
  }
</style>
