---
import Image from "astro/components/Image.astro";
import welcome from "../assets/welcome.svg";

const { settings, content } = Astro.props;
---

<section class="bs-container flex flex-col lg:flex-row items-center">
  <!-- Content -->
  <div class="flex flex-col gap-4 lg:max-w-lg w-full py-10 lg:py-8">
    <!-- Title -->
    <h1 class="bs-h1" set:html={content.title} />

    <!-- Content -->
    <div
      class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark"
      set:html={content.description}
    />

    <!-- CTA -->
    <button
      type="button"
      class="bs-btn self-start bs-mt-sm"
      onclick="demo.showModal()"
    >
      {settings.cta.title}
    </button>
  </div>

  <!-- Image -->
  <figure class="flex place-content-center -mt-5 lg:mt-0">
    <Image
      src={welcome}
      format="avif"
      quality="high"
      alt="Plasticine welcome illustration"
      loading="eager"
    />
  </figure>
</section>
