---
import '../assets/css/global.css';
import '../assets/css/layout.css';
import '../assets/css/button.css';
import '../assets/css/typography.css';

import data from '../data/index.data.ts';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bright Kids</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.js"
    ></script>

    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-inter-display" preload />
  </head>
  <body>
    <Header settings={data} />

    <main id="main">
      <slot />
    </main>

    <Footer settings={data} />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>
